/********************************** WidgetHub plugin styles */
.tiny_widgethub-container {
  position: relative;
}
.tiny_widgethub-container div.tiny_widgethub-top {
  position: relative;
  vertical-align: middle;
  margin-top: 5px;
  display: flex;
}

.tiny_widgethub-preview {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 150px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 3px 3px gray;
  overflow: hidden;
  overflow: clip;
  background: white;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
}
.tiny_widgethub-preview > * {
  margin: auto;
  transform: scale(70%);
  transform-origin: 50% 0;
}

.tiny_widgethub-recent {
  flex-basis: 100%;
}

#list-categories {
  font-size: 0.8rem;
  background: whitesmoke;
}

.tiny_widgethub-previewpanel {
  border: 1px solid gray;
  width: 98%;
  height: 300px;
  margin: 5px;
  padding: 10px;
  overflow: auto;
}

.tiny_widgethub-ymlcontrol {
  width: 100%;
  height: 300px;
  overflow: auto;
}
.tiny_widgethub-ymlcontrol .cm-editor {
  height: 300px;
}

.tiny_widgethub-dropdownsub {
  position: relative;
}
.tiny_widgethub-dropdownsub > .tiny_widgethub-dropdown {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.tiny_widgethub-dropdownsub:hover > .tiny_widgethub-dropdown {
  display: block;
}
.tiny_widgethub-dropdownsub > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.tiny_widgethub-dropdownsub:hover > a:after {
  border-left-color: #fff;
}
.tiny_widgethub-dropdownsub.pull-left {
  float: none;
}
.tiny_widgethub-dropdownsub.pull-left > .tiny_widgethub-dropdown {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

#tiny_widgethub-popup a,
#tiny_widgethub-popup span {
  font-size: 90%;
}

div.tiny_widgethub-growl {
  font-size: 90%;
  position: fixed;
  width: 300px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  z-index: 19999;
  box-shadow: 3px 3px gray;
  overflow: hidden;
}

/** Other plugin styles **/
.tiny_widgethub-emptylist {
  margin: 45px;
}

.tiny_widgethub-categorycontainer {
  position: relative;
  max-height: 450px;
  overflow: hidden auto;
  overscroll-behavior-y: contain;
}

.tiny_widgethub-category {
  margin: 4px auto;
  width: 98%;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: block;
}
.tiny_widgethub-category button {
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tiny_widgethub-disabled > button {
  opacity: 60%;
}

.tiny_widgethub-title {
  padding: 5px 10px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  height: 28px;
}

.tiny_widgethub-instructionstext {
  font-size: 90%;
  line-height: 1.25em;
}

h4.tiny_widgethub-headertext {
  margin-top: 10px;
}

.tiny_widgethub-uds {
  background-color: #e7f2f9;
}
.tiny_widgethub-uds:nth-child(odd) {
  background-color: whitesmoke;
}

.tiny_widgethub-pattern {
  display: inline-block;
  height: 24px;
  vertical-align: sub;
  position: relative;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #565656 25%, transparent 25%, transparent 75%, #565656 75%, #565656), repeating-linear-gradient(45deg, #565656 25%, #e5e5f7 25%, #e5e5f7 75%, #565656 75%, #565656);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}
.tiny_widgethub-pattern > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tiny_widgethub-blink {
  position: absolute;
  right: 80px;
  top: 20px;
  animation: tiny_widgethub-blinker 1s infinite;
}

@keyframes tiny_widgethub-blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
.tiny_widgethub-loader {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #999;
  box-shadow: 32px 0 #999, -32px 0 #999;
  animation: tiny_widgethub-flash 0.5s ease-out infinite alternate;
}

@keyframes tiny_widgethub-flash {
  0% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 32px 0 rgba(255, 255, 255, 0.1333333333), -32px 0 #999;
  }
  50% {
    background-color: #999;
    box-shadow: 32px 0 rgba(255, 255, 255, 0.1333333333), -32px 0 rgba(255, 255, 255, 0.1333333333);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1333333333);
    box-shadow: 32px 0 #999, -32px 0 rgba(255, 255, 255, 0.1333333333);
  }
}
/** Custom bootstrap buttons **/
.tiny_widgethub-btn {
  display: inline-block;
  font-weight: 400;
  color: #1d2125;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.5rem;
}
.tiny_widgethub-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.tiny_widgethub-btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  background-color: white;
  border-radius: 10px;
}
.tiny_widgethub-btn-group > .tiny_widgethub-btn {
  position: relative;
  flex: 1 1 auto;
}
.tiny_widgethub-btn-group > .tiny_widgethub-btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tiny_widgethub-btn-group > .tiny_widgethub-btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tiny_widgethub-btn-group .tiny_widgethub-btn-outline-primary {
  border-color: lightgray;
}

.tiny_widgethub-btn-primary {
  color: #fff;
  background-color: #0f6cbf;
  border-color: #0f6cbf;
}
.tiny_widgethub-btn-primary:hover {
  color: #fff;
  background-color: #0c589c;
  border-color: #0b5190;
}

.tiny_widgethub-btn-outline-primary {
  color: #0f6cbf;
  border-color: #0f6cbf;
}
.tiny_widgethub-btn-outline-primary:hover {
  color: #0c589c;
}

.tiny_widgethub-btn-sm,
.tiny_widgethub-btn-group-sm > .tiny_widgethub-btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.8203125rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.tiny_widgethub-btn-secondary {
  color: #1d2125;
  background-color: #ced4da;
  border-color: #ced4da;
}
.tiny_widgethub-btn-secondary:hover {
  color: #1d2125;
  background-color: #b8c1ca;
  border-color: #b1bbc4;
}

/********************************* Icons definitions */
.twh-icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  width: 12px;
  vertical-align: top;
  display: inline-block;
  pointer-events: none;
}
.twh-icon svg {
  pointer-events: none;
}

.tiny_widgethub-btn-primary .twh-icon path {
  fill: #fff;
}

.tiny_widgethub-btn-secondary .twh-icon path {
  fill: #474747;
}

.tiny_widgethub-btn-outline-primary .twh-icon path {
  fill: #0f6cbf;
}
.tiny_widgethub-btn-outline-primary:hover .twh-icon path {
  fill: #0c589c;
}

.tiny_widgethub-view-grid .tiny_widgethub-btn-primary:hover .twh-icon path {
  fill: #0c589c;
}

/********************************** Repeatable list **/
.tiny_widgethub-regularitem {
  background: whitesmoke;
}

.tiny_widgethub-additem {
  height: 25px;
  padding: 0 !important;
  z-index: 2;
  border-left: none;
  border-right: none;
}
.tiny_widgethub-additem > hr {
  z-index: 0;
}
.tiny_widgethub-additem > button {
  z-index: 1;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  width: 24px;
  height: 24px;
}

.list-group .tiny_widgethub-additem:first-child {
  border-top-color: transparent;
}
.list-group .tiny_widgethub-additem:last-child {
  border-bottom-color: transparent;
}

/********************************** Grid View Styles */
.twh-widget-icon {
  display: none;
}

.tiny_widgethub-view-grid .tiny_widgethub-disabled {
  position: absolute;
  top: 0;
  left: 0;
}
.tiny_widgethub-view-grid .twh-widget-icon {
  display: block;
}
.tiny_widgethub-view-grid .tiny_widgethub-category > div.d-flex {
  flex-direction: row !important;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 5px !important;
}
.tiny_widgethub-view-grid .tiny_widgethub-category.d-none {
  display: none !important;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group {
  width: 32%;
  flex: 0 0 32%;
  margin: 0.5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: none;
  height: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button:not([data-insert=true]):not([data-auto]) {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: normal;
  text-align: center;
  color: #0f6cbf;
  padding: 0;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button:not([data-insert=true]):not([data-auto]) .twh-label {
  overflow: hidden;
  overflow: clip;
  line-height: 1.2;
  max-height: 2.4em;
  width: 100%;
  margin-top: 4px;
  font-size: 80%;
  text-overflow: ellipsis;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button:not([data-insert=true]):not([data-auto]) .twh-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button:not([data-insert=true]):not([data-auto]) .twh-icon svg {
  width: 100%;
  height: 100%;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button[data-insert=true] {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  color: #0f6cbf !important;
  border-color: #0f6cbf !important;
  z-index: 10;
  opacity: 0;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button[data-insert=true]:hover {
  color: #fff !important;
  background-color: #0f6cbf !important;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button[data-insert=true]:hover .twh-icon path {
  fill: #fff !important;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button[data-auto] {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button[data-auto]:hover {
  color: #fff !important;
  background-color: #0f6cbf !important;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group > button[data-auto]:hover .twh-icon path {
  fill: #fff !important;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group:hover {
  border-color: rgba(119, 170, 255, 0.8);
  box-shadow: 0 0 0 3px rgba(119, 170, 255, 0.35);
  transition: all 0.2s ease-in-out;
  z-index: 5;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group:hover > button[data-insert=false] {
  color: #0c589c;
  font-weight: 500;
}
.tiny_widgethub-view-grid .tiny_widgethub-btn-group:hover > button[data-insert=true] {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .tiny_widgethub-view-grid .tiny_widgethub-btn-group {
    width: 48%;
    flex: 0 0 48%;
  }
}
@media (max-width: 350px) {
  .tiny_widgethub-view-grid .tiny_widgethub-btn-group {
    width: 98%;
    flex: 0 0 98%;
  }
}
/** Print behavior **/
@media print {
  .h5p-placeholder a.autolink {
    display: none;
  }
  #page-mod-page-view .iedib-video-container:not(:has(iframe.disable-print-iframe-link)),
  #page-mod-book-view .iedib-video-container:not(:has(iframe.disable-print-iframe-link)) {
    width: 100% !important;
    max-width: none !important;
  }
  #page-mod-page-view .iedib-videoWrapper:not(:has(iframe.disable-print-iframe-link)),
  #page-mod-book-view .iedib-videoWrapper:not(:has(iframe.disable-print-iframe-link)) {
    padding: 0;
    height: auto;
    text-align: center;
  }
  #page-mod-page-view div.disable-print-iframe-link > p.iedib-embed-print-only,
  #page-mod-book-view div.disable-print-iframe-link > p.iedib-embed-print-only {
    display: none !important;
  }
  #page-mod-page-view div.disable-print-iframe-link > iframe,
  #page-mod-book-view div.disable-print-iframe-link > iframe {
    display: block !important;
  }
  /* Clear other stuff from CTRL+P print */
  section#region-main > div.activity-navigation,
  footer#page-footer,
  div.activity-information:has([data-region=completion-info]) {
    display: none !important;
  }
  /* Hide the entire media plugin container */
  .mediaplugin.mediaplugin_videojs {
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .mediaplugin.mediaplugin_videojs:has(audio)::after {
    content: "🎵 Audio";
    display: block;
    width: 100px;
  }
  .mediaplugin.mediaplugin_videojs:has(iframe)::after {
    content: "🎬 Video";
    display: block;
    width: 100px;
  }
  .iedib-pulsating {
    display: none;
  }
}
#page-mod-book-print .d-print-none {
  display: none !important;
}
#page-mod-book-print .iedib-videoWrapper:not(:has(iframe.disable-print-iframe-link)) {
  padding: 0;
  height: auto;
  text-align: center;
}
#page-mod-book-print .iedib-video-container:not(:has(iframe.disable-print-iframe-link)) {
  width: 100% !important;
  max-width: none !important;
}
#page-mod-book-print div.disable-print-iframe-link > p.iedib-embed-print-only {
  display: none !important;
}
#page-mod-book-print div.disable-print-iframe-link > iframe {
  display: block !important;
}
#page-mod-book-print {
  /* Hide the entire media plugin container */
}
#page-mod-book-print .mediaplugin.mediaplugin_videojs {
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
#page-mod-book-print .mediaplugin.mediaplugin_videojs:has(audio)::after {
  content: "🎵 Audio";
  display: block;
  width: 100px;
}
#page-mod-book-print .mediaplugin.mediaplugin_videojs:has(iframe)::after {
  content: "🎬 Video";
  display: block;
  width: 100px;
}

/** Variables **/
/********************************** Specific Widget definitions styles */
/** Compatibility bs < 4 **/
.accordion-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.accordion-heading {
  padding: 0.5rem;
  margin-bottom: 0;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-body {
  padding: 5px;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.icon.icon-plus-sign {
  display: none;
}

a.accordion-toggle:not([aria-expanded=true])::before {
  content: "\f0d7";
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
}

a.accordion-toggle[aria-expanded=true]:before {
  content: "\f0d8";
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
}

/* Tabs menu */
.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Problem with li active */
.nav-tabs > li > a.active,
.nav-tabs > li.active > a:not([class]) {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

/* Grid system */
/* lost from 3.8 to 4.1 */
.row-fluid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Fix row-fluid Moodle override */
.iedib-figura .row-fluid,
.iedib-tabpane.row-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.iedib-fluid {
  min-height: 105px;
  margin-right: 0;
  margin-left: 0;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.span1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.span2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.span3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.span4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.span5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.span6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.span7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.span8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.span9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.span10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.span11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.span12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/** Definició de capses diverses excloent exemples **/
.iedib-capsa {
  display: table;
  width: 98%;
  margin: 0;
  margin-left: 4px;
  margin-top: 10px;
}

.iedib-capsa.alert {
  padding: initial !important;
  margin-bottom: initial !important;
  padding-right: 1.90625rem !important;
}

.iedib-capsa-gran,
.iedib-capsa-mitjana {
  width: 98%;
}

.iedib-capsa-petita {
  width: 45%;
  margin: 5px auto;
}

.iedib-introduccio-border,
.iedib-ampliacio-border {
  box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
}

.iedib-alerta-border {
  background: #faf1f1;
}

.iedib-important-border {
  background: #fdfcd6;
}

.iedib-alerta {
  background: #c64949;
}

.iedib-important {
  background: #e39250;
}

.iedib-ampliacio {
  background: #3978d8;
}

.iedib-tasca {
  border-bottom: 4px solid d0d0d0;
  background-color: #d4e0f9;
}

div.iedib-tasca > h4:first-of-type {
  font-size: 130%;
}

.iedib-lateral.iedib-consell {
  background: rgb(172, 20, 154);
}

.iedib-consell-border {
  background: rgb(251, 237, 248);
}

.iedib-lateral {
  display: table-cell;
  position: relative;
  width: 14px;
  max-width: 16px;
  color: white;
  vertical-align: bottom;
  z-index: 1;
  height: 105px;
}

.iedib-titolLateral {
  font-weight: 500;
  font-size: 10.5px;
  padding-left: 3px;
  margin-bottom: 1px;
  margin-left: 1px;
  white-space: nowrap;
  text-align: right;
  transform: rotate(-89.9deg);
  -webkit-transform: rotate(-89.9deg);
  -moz-transform: rotate(-89.9deg);
  -ms-transform: rotate(-89.9deg);
  -o-transform: rotate(-89.9deg);
}

.iedib-lateral.iedib-important::after,
.iedib-lateral.iedib-alerta::after,
.iedib-lateral.iedib-ampliacio::after,
.iedib-lateral.iedib-introduccio::after,
.iedib-lateral.iedib-exemple::after,
.iedib-lateral.iedib-consell::after {
  font-size: 14px;
  width: 16px;
  height: 22px;
  position: absolute;
  left: 0;
  top: -1px;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  color: white;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid white;
}

.iedib-lateral.iedib-important::after {
  background: #e39250;
  content: "\f08d";
}

.iedib-lateral.iedib-alerta::after {
  background: #c64949;
  content: "\f071";
}

.iedib-lateral.iedib-ampliacio::after {
  background: #3978d8;
  content: "\f00e";
}

.iedib-lateral.iedib-introduccio::after {
  background: rgb(91, 138, 153);
  content: "\f02d";
}

.iedib-lateral.iedib-consell::after {
  background: rgb(172, 20, 154);
  content: "\f0eb";
}

.iedib-tasca-logo {
  display: none;
}

.iedib-alerta-logo {
  display: none;
}

.iedib-central {
  display: table-cell;
  vertical-align: top;
  padding: 9px 17px;
  text-align: left;
  font-size: 96%;
}

.iedib-solucio {
  border-radius: 5px;
  background: rgb(219, 242, 248);
  border: 1px solid rgb(13, 38, 68);
  color: rgb(13, 38, 68);
}

.iedib-introduccio {
  background: rgb(91, 138, 153);
  height: 125px;
}

.iedib-introduccio-border .iedib-central {
  background: linear-gradient(45deg, #f0f9ff, #faf8ff);
}

div.iedib-capsa-info {
  background: #f9f9f9;
  border-left: 4px solid rgb(121, 121, 121);
  padding: 5px 10px;
  position: relative;
  margin-bottom: 1rem;
}
div.iedib-capsa-info > a[role=button] {
  padding-left: 25px;
}

div.iedib-capsa-info::before {
  content: "\f05a";
  font-size: 16px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 5px;
  top: 5px;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  color: rgb(121, 121, 121);
  padding: 0;
}

div.iedib-capsa-info div.iedib-central {
  font-size: 93%;
  color: #2d2d2d;
  padding: 15px 10px 1px 25px;
}

/** optimització d'altures **/
.iedib-lateral.iedib-alerta {
  height: 89px;
}

.iedib-capsa[data-lang=ca] > .iedib-lateral.iedib-alerta,
.iedib-capsa[data-lang=es] > .iedib-lateral.iedib-alerta {
  height: 69px;
}

.iedib-lateral.iedib-important {
  height: 95px;
}

.iedib-lateral.iedib-ampliacio {
  height: 92px;
}

.iedib-capsa[data-lang=de] > .iedib-lateral.iedib-ampliacio {
  height: 106px;
}

.iedib-lateral.iedib-consell {
  height: 77px;
}

.iedib-capsa[data-lang=de] > .iedib-lateral.iedib-consell {
  height: 52px;
}

/** Totes les famílies d'exemples, intentar unificar **/
.iedib-exemple {
  background: #4C7F35;
  outline: 1px solid #4C7F35;
}

.iedib-exemple-border {
  border: 1px solid #f2f9f0;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
}

.iedib-exemple-border .accordion-heading {
  background: none;
}

.iedib-lateral.iedib-exemple::after {
  background: #4C7F35;
  content: "\f06e";
}

.span4.iedib-formulacio {
  font-size: 95%;
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
}

.iedib-formulacio {
  background: #f2f9f0;
  border: 1px solid lightgray;
  padding: 5px;
  height: 100%;
}

.iedib-formulacio-rows {
  background: #f2f9f0;
  border: 1px solid lightgray;
  padding: 5px;
}

.iedib-exemple-border > .iedib-central {
  background: #f2f9f0;
}

.iedib-resolucio {
  height: 100%;
  padding-right: 10px;
  padding-top: 5px;
}

.iedib-formulacio-rows > .iedib-resolucio > .iedib-central {
  display: initial;
}

.iedib-solutionBox {
  text-align: center;
  width: 100%;
  padding: 5px;
}

.iedib-labelSolution {
  color: #0070a8;
  font-weight: bold;
  font-size: normal;
}

.span8.iedib-resolucio > .iedib-central {
  padding-left: 5px;
}

.iedib-resolucio-rows,
.iedib-formulacio-rows {
  padding: 10px;
}

/* etiquetes en línia */
.iedib-ret {
  position: relative;
}

.iedib-ret-trl {
  font-size: 0;
  color: white;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.iedib-ret-alerta {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: #faf1f1;
  border-left: 2px solid #c64949;
}

.iedib-ret-important {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: #fdfcd6;
  border-left: 2px solid #e39250;
}

.iedib-ret-consell {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: rgb(251, 237, 248);
  border-left: 2px solid rgb(172, 20, 154);
}

.iedib-ret-ampliacio {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: #edf4ff;
  border-left: 2px solid #3978d8;
}

.iedib-ret::after {
  font-size: 14px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -19px;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  padding: 0;
}

.iedib-ret-alerta::after {
  content: "\f071";
  color: #c64949;
}

.iedib-ret-important::after {
  content: "\f08d";
  color: #e39250;
}

.iedib-ret-consell::after {
  content: "\f0eb";
  color: rgb(172, 20, 154);
}

.iedib-ret-ampliacio::after {
  content: "\f00e";
  color: #3978d8;
}

/** Snippet tasca / exercici proposat **/
.iedib-capsa > .iedib-tasca.iedib-central,
.iedib-capsa > .iedib-proposat.iedib-central {
  padding: 10px;
  background-color: white;
  text-align: left;
  position: relative;
}

.iedib-capsa > .iedib-tasca.iedib-central > h4:first-of-type {
  padding: 0;
  margin: 3px 0 20px 20px;
  color: rgb(17, 198, 165);
}

.iedib-capsa > .iedib-proposat.iedib-central > h4:first-of-type {
  padding: 0;
  margin: 3px 0 20px 20px;
  color: rgb(100, 100, 255);
}

.iedib-capsa > .iedib-tasca.iedib-central {
  border: 6px solid white;
  border-top: 6px solid rgb(17, 198, 165);
}

.iedib-capsa > .iedib-tasca.iedib-proposat.iedib-central {
  border-top: 6px solid rgb(100, 100, 255);
}

.iedib-capsa > .iedib-tasca.iedib-central {
  border: 6px solid white;
  border-top: 6px solid rgb(17, 198, 165);
  padding-top: 0px;
  margin-top: 0;
}

.iedib-capsa > .iedib-tasca::after {
  background: rgb(17, 198, 165);
  content: "\f040";
  font-size: 15px;
  width: 22px;
  height: 22px;
  position: absolute;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  color: white;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border-bottom: 2px solid white;
  top: 2px;
  left: 0;
}

.iedib-capsa > .iedib-proposat::after {
  background: rgb(100, 100, 255);
  content: "\f1d8";
}

/** subsubsecció**/
.iedib-hr {
  background-color: #0070a8;
  height: 1px;
  border: 0;
}

/** disable this component **/
.iedib-square {
  display: none;
}

h4.iedib-subsub {
  position: relative;
  padding-left: 16px;
  font-size: 1.40625rem;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 1200px) {
  h4.iedib-subsub {
    font-size: calc(0.950625rem + 0.6075vw);
  }
}
h4.iedib-subsub::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background: #bed0f6;
}

/** Snippet frase célebre **/
.iedib-quote {
  background: #f6f6ff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}

.iedib-quote p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}

.iedib-quote cite {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.9;
}

.iedib-quote:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(91, 88, 241, 0.3);
  font-weight: normal;
}

.iedib-quote:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 20em;
  color: rgba(91, 88, 241, 0.3);
  font-weight: normal;
}

@media (max-width: 640px) {
  .iedib-quote:after {
    font-size: 18em;
    right: -25px;
  }
}
/** Snippet fragment de text **/
.iedib-fragment {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 35px auto;
  min-height: 300px;
  padding: 24px 24px 24px 24px;
  position: relative;
  width: 92%;
  z-index: 1;
}

.iedib-fragment > h4:first-of-type {
  margin-bottom: 20px;
  font-size: 125%;
}

.iedib-fragment p {
  font-size: 95%;
}

.iedib-fragment > cite {
  opacity: 0.8;
}

.iedib-fragment:before,
.iedib-fragment:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.iedib-fragment:before {
  background: #f6f6f6;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  left: -5px;
  top: 4px;
  transform: rotate(-1deg);
}

.iedib-fragment:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  right: -3px;
  top: 1px;
  transform: rotate(0.4deg);
}

/** Snippet correcte-incorrecte **/
.iedib-correcte-incorrecte {
  margin-left: 30px;
}

.iedib-correcte {
  position: relative;
  color: #4C7F35;
  margin-bottom: 5px;
  border-left: 2px solid #4C7F35;
  padding-left: 10px;
  line-height: normal;
}

.iedib-incorrecte {
  position: relative;
  color: #c64949;
  border-left: 2px solid #c64949;
  padding-left: 10px;
  line-height: normal;
}

.iedib-correcte::after {
  color: #4C7F35;
  content: "\f058";
  font-size: 20px;
  position: absolute;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  top: -2px;
  left: -25px;
}

.iedib-incorrecte::after {
  color: #c64949;
  content: "\f057";
  font-size: 20px;
  top: -2px;
  left: -25px;
  position: absolute;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
}

/** Video **/
.iedib-video-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.iedib-videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iedib-videoWrapper:has(.h5p-placeholder) {
  margin-bottom: 18px;
}

.iedib-videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iedib-caption {
  text-align: center;
  margin: 10px auto;
  font-size: 0.875rem;
}

.iedib-img-footer {
  display: block;
  font-size: 0.875rem;
}

.iedib-caption-title {
  font-style: italic;
}

.iedib-spinner {
  display: none;
}

/** Image **/
.iedib-figura {
  width: 94%;
  margin: auto;
  text-align: center;
}

.iedib-imggrid {
  margin: auto;
  box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
}

.iedib-grid-responsive img {
  margin: 10px auto;
}

/** Taules **/
table.iedib-table {
  margin: auto;
}

table.iedib-table th {
  background-color: aliceblue;
  padding: 2px 5px;
}

table.iedib-table td {
  vertical-align: top;
  padding: 2px 5px;
}

/*** Taula - capsalera examen ***/
div.iedib-capsalera-examen > table {
  min-width: 550px;
}

/** Capçalera general **/
.iedib-titol-general {
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 25px;
  background-color: #7d9fd3;
  width: 99%;
}

.iedib-titol-general-text {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px #57609f;
}

/** Acordió - configuració IEDIB desplegables **/
.iedib-accordion {
  width: 99%;
  margin: auto;
}

/** Menú pestanyes -- configuració IEDIB dels tabpanes **/
.iedib-tabmenu {
  display: table;
  width: 99%;
  margin: auto;
  border: 1px solid #EEEEEE;
}

.iedib-tabpane {
  padding: 5px;
  width: 96%;
}

/** Snippet codi programació **/
/* Capsa de codi de programació */
.iedib-code {
  box-shadow: -1px 0 0 0 #358ccb, 0 0 0 1px #dfdfdf;
  border-left: 10px solid #358ccb;
  background-color: #fdfdfd;
  padding: 0 10px;
}

.iedib-code-stripped {
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  font-size: 15px;
  font-family: monospace;
  background-size: 45px 45px;
  background-origin: content-box;
}

code.hljs {
  background: none;
}

div.hljs-language {
  text-align: right;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

div.hljs-language > span {
  background: #358ccb;
  border-radius: 4px;
  color: white;
  padding: 3px;
  font-weight: bold;
  font-size: 0.7rem;
}

.hljs-ln td {
  padding-right: 20px !important;
}

.hljs-ln-n {
  color: rgb(100, 100, 100);
}

/**fancy list**/
ol.iedib-falist {
  list-style: none;
  counter-reset: iedibfalist-counter;
}

ol.iedib-falist > li {
  counter-increment: iedibfalist-counter;
  position: relative;
  margin-bottom: 30px;
}

ol.iedib-falist > li::before {
  content: counter(iedibfalist-counter);
  color: white;
  background: rgb(108, 117, 115);
  border-radius: 35%;
  font-size: 96%;
  padding: 0 2px;
  min-width: 24px;
  height: 24px;
  font-weight: bold;
  position: absolute;
  left: -35px;
  top: 0;
  text-align: center;
  vertical-align: middle;
}

/* Modifier types */
ol.iedib-falist.iedib-falist--alpha > li::before {
  content: counter(iedibfalist-counter, lower-alpha) ")";
}

ol.iedib-falist.iedib-falist--roman > li::before {
  content: counter(iedibfalist-counter, lower-roman) ")";
}

ol.iedib-falist.iedib-falist--upper-alpha > li::before {
  content: counter(iedibfalist-counter, upper-alpha) ")";
}

ol.iedib-falist.iedib-falist--upper-roman > li::before {
  content: counter(iedibfalist-counter, upper-roman) ")";
}

/* Color variants */
ol.iedib-falist.iedib-falist--primary > li::before {
  background: #0d6efd;
}

ol.iedib-falist.iedib-falist--light > li::before {
  background: white;
  border: none;
  color: #212529;
}

ol.iedib-falist.iedib-falist--dark > li::before {
  background: #212529;
  color: whitesmoke;
}

/** iedib glossari **/
.iedib-glossari {
  margin: 10px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
}

.iedib-glossari.iedib-glossari-reading {
  background-color: #fafabf;
  border-color: #bbbb0a;
}

.iedib-glossari.iedib-glossari-listening {
  background-color: #e5fde5;
  border-color: #91b791;
}

.iedib-glossari.iedib-glossari-vocabulary {
  background-color: #f3f3ff;
  border-color: #a4a4b5;
}

/** Medias and responsivity **/
/* 
   ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px
  */
@media (max-width: 480px) {
  .iedib-capsa-mitjana {
    width: 96%;
    margin: 5px auto;
  }
  .iedib-capsa-petita {
    width: 96%;
    margin: 5px auto;
  }
  .iedib-video-container {
    width: 95%;
    margin: auto;
  }
}
/* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
  */
@media (max-width: 767px) {
  .iedib-capsa-mitjana {
    width: 96%;
    margin: 5px auto;
  }
  .iedib-capsa-petita {
    width: 60%;
    margin: 5px auto;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    padding-right: 15px;
    padding-left: 15px;
    min-width: 100%;
  }
  .tiny_widgethub-preview {
    display: none !important;
  }
  div.iedib-capsalera-examen {
    font-size: 0.7rem;
  }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 768px) and (max-width: 1280px) {
  .iedib-fluid {
    overflow: hidden;
  }
  .iedib-formulacio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
  .iedib-resolucio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */
@media (min-width: 1281px) {
  .iedib-video-container {
    width: 75%;
    margin: auto;
  }
  .iedib-fluid {
    overflow: hidden;
  }
  .iedib-formulacio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
  .iedib-resolucio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
/************** Added a posteriori */
.iedib-rwrap {
  text-align: right;
  font-size: 0;
}

i.fad.fa-stopwatch::before {
  content: "\f017";
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-style: normal;
  font-weight: 900;
}

.iedib-ctx {
  display: inline-block;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: rgb(31, 106, 219);
  color: rgb(241, 245, 254);
  margin: 0;
  padding: 4px;
  width: 18px;
  font-size: 11px;
}

.iedib-time {
  display: inline-block;
  margin: 0px;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(241, 245, 254);
  color: rgb(31, 106, 219);
  font-size: 12px;
}

.iedib-time > span {
  font-weight: bold;
  font-style: normal;
}

div.popover {
  max-width: 400px;
}

table.iedib-bstable {
  margin: auto;
}

/* Targetes */
.ib-card {
  perspective: 1000px;
  position: relative;
}

.ib-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.ib-card.ib-card-flip .ib-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.ib-card.ib-card-flip:hover .ib-card-inner {
  transform: rotateY(180deg);
}

.ib-card-front,
.ib-card-back {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.ib-card-back {
  transform: rotateY(180deg);
}

.ib-card img.card-img-top {
  height: 100px;
  object-fit: cover;
}

.ib-card-front .card-body,
.ib-card-back .card-body {
  height: 100%;
  overflow: auto;
  padding: 1rem;
}

.ib-card .card-header {
  padding: 0.75rem 1rem;
  background-color: whitesmoke;
  border-radius: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  transform: translate(0, -12px) scale(0.97);
  position: relative !important;
}

.ib-video-group {
  background-color: #5f6971;
  background-image: url(https://ibsuite.es/iedib/img/ib_video_group.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 1rem;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  margin: 0;
}

.ib-video-group > h4 {
  color: white;
}

/** Media print **/
/*
   * Make acordions and tabpanes printables
*/
@media print {
  * {
    -moz-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
  @page {
    size: A4;
  }
  div[role=main] {
    background-color: white;
    max-width: 100%;
    max-width: 90%;
    margin: auto;
    font-size: 11pt;
  }
  body,
  #page-content {
    background-color: white !important;
  }
  .accordion-body.collapse {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
  a.accordion-toggle {
    text-decoration: none;
  }
  .accordion-body.collapsing {
    display: block !important;
    height: auto !important;
    transition: none !important;
  }
  div.accordion-inner .iedib-capsa {
    break-inside: auto;
  }
  .iedib-capsa-info > a[role=button] {
    display: none;
  }
  .iedib-capsa-info div.iedib-central {
    display: block;
    break-inside: avoid;
  }
  .iedib-tabmenu > ul > li > a {
    color: #222;
  }
  .iedib-tabmenu {
    display: flex;
  }
  .tab-content > .tab-pane.iedib-tabpane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative !important;
    height: auto !important;
    overflow: visible !important;
    break-inside: avoid;
  }
  .tab-content > .tab-pane.iedib-tabpane::after {
    content: "———";
    display: block;
    text-align: center;
    color: rgba(119, 119, 119, 0.4666666667);
    font-size: 1.5rem;
    margin-top: 10px;
    clear: both;
  }
  a[data-toggle=tab],
  a[data-bs-toggle=tab] {
    text-decoration: none;
  }
  /* Accesibilitat als links impressos*/
  a.iedib-plink[href^=http]:after {
    content: " (" attr(href) ") " !important;
    font-style: italic !important;
    font-size: 0.9em !important;
  }
  .ib-card,
  .ib-card * {
    transform: none !important;
    transition: none !important;
    backface-visibility: visible !important;
  }
  .ib-card-inner {
    transform-style: flat !important;
  }
  .ib-card-back {
    display: none !important;
  }
  .ib-card-front {
    display: block !important;
    position: relative !important;
  }
}
/** Display accordions and tabs on book print preview **/
#page-mod-book-print .iedib-capsa-info > a[role=button] {
  display: none;
}
#page-mod-book-print .iedib-capsa-info div.iedib-central {
  display: block;
  break-inside: avoid;
}
#page-mod-book-print .accordion-body.collapse {
  display: block !important;
  height: auto !important;
  visibility: visible !important;
}
#page-mod-book-print .accordion-body.collapsing {
  display: block !important;
  height: auto !important;
  transition: none !important;
}
#page-mod-book-print a.accordion-toggle {
  text-decoration: none;
}
#page-mod-book-print div.accordion-inner .iedib-capsa {
  break-inside: auto;
}
#page-mod-book-print .iedib-tabmenu > ul > li > a {
  color: #222;
}
#page-mod-book-print .iedib-tabmenu {
  display: flex;
}
#page-mod-book-print .tab-content > .tab-pane.iedib-tabpane {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  position: relative !important;
  height: auto !important;
  overflow: visible !important;
  break-inside: avoid;
}
#page-mod-book-print .tab-content > .tab-pane.iedib-tabpane::after {
  content: "———";
  display: block;
  text-align: center;
  color: rgba(119, 119, 119, 0.4666666667);
  font-size: 1.5rem;
  margin-top: 10px;
  clear: both;
}
#page-mod-book-print a[data-toggle=tab],
#page-mod-book-print a[data-bs-toggle=tab] {
  text-decoration: none;
}
#page-mod-book-print .iedib-pulsating {
  display: none;
}